body {

    width: 100vw;
    height: 100%;
    margin: 0;
  
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
.scene.one {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}
  
section {
    width: 100%;
    height: 100vh;  
    position: relative;
}

.button {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
